<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle Consultation</title>
</head>
<body>
<section layout:fragment="content">
  <form th:object="${consultation}"  method="post" action="/consultations">

    <label class="form-label" for="date">Date</label>
    <input class="form-control" type="date" name="" id="date" th:field="*{dateConsultation}">

    <label class="form-label" for="patient">patient</label>
    <select class="form-select" name="idPatient" id="patient">
      <option th:each="patient:${Patients}" value="${patient.idPatient}" th:text="${patient.nom}">

      </option>
    </select>




    <label class="form-label" for="descrption">Description</label>
    <textarea  class="form-control" id="descrption" cols="30" rows="10" th:field="*{Description}"></textarea>

    <input type="submit" value="Enregistrer" class="btn btn-primary mt-3" >
    <input type="reset" value="Annuler" class="btn btn-primary mt-3">
    </form>
</section>
</body>
</html>